<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css" />
    
  </head>
  <body>
    
    <div class="main-content">
 {{>headers}}
    <img class="portrait" src="/img/me.jpg" />
    <p>This website is created by Mandeep Saini.This website uses data from mapbox.com and darksky.net</p>
    </div>
   
   
    {{>footers}}
  </body>
</html>